.footer{
    width: calc(100%- 40px);
    height: calc(250px - 40px);
    background-color: #3C3F41;
    padding: 20px
}

.footer td{
    width: 300px;
}

.footer th {
    text-align: left;
    padding-bottom: 20px;
}
